<%- include('partials/header') %>
<div class="welcom-banner">
    <h1>Home</h1>
    <img class="car pics carosel"></img>
</div>
<div class="basic-info">
    <p>Where based and what other adds</p>
</div>
<div class="featured-cars">
    <h2> featured Vehicles</h2>
    <p> small gallery</p>
</div>
<%- include('partials/footer') %>